.container{
    height: 1107px;
    margin-top: -78px;
    background-color: #EAFFE2;
}

.title{
    text-align: center;
    padding-top: 160px;
    margin-bottom: 90px;
    
    font-size: 3rem;
    font-family: "MontserratBold";
    color: #F97C08;
}

.feedback{
    width: 51.51%;

    z-index: 500;
}

.info{
    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    height: 546px;
    width: 1062px;

    margin-top: -875px;
    margin-left: auto;
    margin-right: auto;
}

.address{
    width: 48.49%;

    z-index: 500;
}

@media screen and (max-width: 767px) {
    .info{
        flex-direction: column;
        margin: auto
    }

    .address{
        width: 100%;
    }

    .feedback{
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .container{
        margin-top: -48px;
    }
}

@media screen and (max-width: 1082px) {
    .info{
        width: 100%;
    }
}