.bodyStyle{
    display: block;
    text-align: center;
}

.arrow{
    margin-left: 10px;
}

/*Названия месяцев в календаре*/
.calendarMonth{
    font-family: "MontserratBold";
    font-size: 1.25rem;
}

@media screen and (min-width: 576px) {    
    .calendarMonth{
        font-size: 1.625rem;
    }
}

@media screen and (min-width: 901px) {
    .bodyStyle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }
}

@media screen and (min-width: 590px) and (max-width: 900px) {
    .bodyStyle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}