.mobileContainerGreen{
    padding-left: 8px;
    padding-right: 8px;
    background-color: #EAFFE2;
}

.mainContainer{
    padding-left: 8px;
    padding-right: 8px;
}

.sliderDeskContainer{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .mainContainer{
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 1441px) {
    .mainContainer {
        max-width: 1440px;
        padding-left: 80px;
        padding-right: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderDeskContainer{
        max-width: 1440px;
    }
}