.title {
    font-family: "MontserratBold";
    font-size: 1.25rem;
    color: #219982;
}

.spoilerTitle{
    font-family: "MontserratBold";
    font-size: 1.25rem;
    color: #219982;
}

.calendarMonth{
    font-family: "MontserratBold";
    font-size: 1.25rem;
}

@media screen and (min-width: 576px) {
    .title {
        font-size: 2.25rem;
    }

    .spoilerTitle{
        font-size: 1.625rem;
    }

    .calendarMonth{
        font-size: 1.625rem;
    }
}