.mobile {
    height: 194px;
    width: 194px;
    min-width: 194px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 97px;
}

.serviceName {
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    padding: 0 4px 0 4px;

    font-size: 0.875rem;
}

@media screen and (min-width: 360px) and (max-width: 410px) {
    .mobile{
        transform: scale(1.125, 1.125);
    }
}

@media screen and (min-width: 411px) and (max-width: 768px) {
    .mobile{
        transform: scale(1.28, 1.28);
    }
}