.mobile {
    height: 194px;
    width: 194px;
    min-width: 194px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 97px;
}

.serviceName {
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    padding: 0 4px 0 4px;

    font-size: 14px;
    color: #3D3D3D;
}