.image{
    float: left;
    max-width: 100%;
    height: auto;
}

.green{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 2rem 2rem 2rem 2rem;

    font-family: 'MontserratMedium';
    background-color: #EAFFE2;
}

.paragraph{
    line-height: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

@media screen and (max-width: 1023px) {
    .image{
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}