.style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 298px;
}

.text {
    margin-bottom: 0.5625rem;
    padding-left: 8px;

    font-family: "MontserratBold";
    font-size: 1.25rem;
    color: #219982;
}