.backgroundCloseIcon{
    position: fixed;
    right: 100px;
    top: 28px;

    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 78%;
}

.fullSizeImage{
    max-width: 100%;
    height: auto;
}

.text{
    font-size: 1.5rem;
    line-height: 2.125rem;
}