.outsideCloseIcon{
    position: absolute;
    right: 35px;
    top: -55px;

    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    max-width: 1123px;
}

.pictureAndText{
    position: relative;
    border-radius: 30px;
    background-color: #afafaf;

    overflow: hidden;

    font-size: 1.5rem;
    line-height: 2.125rem;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 47.37%, rgba(0, 0, 0, 0.268) 100%);
}

.image{
    max-width: 100%;
    height: auto;
}

.insideCloseIcon{
    display: none;
}

@media screen and (max-height: 650px) {
    .outsideCloseIcon{
        display: none;
    }

    .insideCloseIcon{
        display: block;
        position: absolute;
        top: 24px;
        right: 24px;

        width: 24px;
        height: 24px;

        cursor: pointer;
    }
}

@media screen and (max-width: 1440px) {
    .container{
        width: 90%;
    }
}