.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 105px;
}

.nameSmall {
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    line-height: 28px;
}

.nameLarge {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 62px;
    margin-top: 10px;

    font-family: "MontserratBold";
    font-size: 1.625rem;
    line-height: 28px;
}

.description {
    font-size: 1.125rem;
}