.button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-bottom: 82px;
}

@media screen and (max-width: 650px) {
    .button{
        align-items: center;
    }
}