.container{
    margin-top: 81px;
    margin-bottom: 45px;
}

.text{
    margin-top: 19px;
}

.docTextStyle{
    font-family: "MontserratBold";
    font-size: 0.875rem;
    margin-top: 16px;
    width: 241px;
}

.docCardStyle{
    display: inline-flex;
    justify-content: center;
    height: 152px;
}

.files{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1204px;

    margin-top: 39px;
}

@media screen and (max-width: 575px) {
    .container{
        margin-top: 0;
    }
}