.residentsItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.residentsTitle{
    font-family: 'MontserratBold';
    text-align: center;
}

.residentsImage{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 575px) {
    .residentsTitle{
        text-align: unset;
    }

    .residentsImage{
        width: 121px;
        height: 121px;
    }
}