.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 125px;

    font-size: 0.875rem;

    background-image: url(/images/advantages/advantages-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 196px;

    flex: none;
    font-size: 1.5rem;

    background-image: url(/images/advantages/advantages-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}