/* от 768px */
.callbackContainer{
    margin-top: unset;
    margin-bottom: unset;
}

.call{
    text-align: center;
    font-size: 1.625rem;
    color: #3D3D3D;
}

.call > a {
    white-space: nowrap;
}

.button{
    margin-top: 23px;
    margin-bottom: 28px;
    align-self: center;
}

/* 576px-767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .button{
        margin-top: 2px;
    }
}

/* до 575px */
@media screen and (max-width: 575px) {
    .button{
        margin-top: 0px;
    }

    .call{
        font-size: 1.25rem;
    }    
}

/*Чтобы flex-контейнер не обрезался сверху при маленькой высоте окна*/
@media screen and (max-height: 350px) and (max-width: 575px),
screen and (max-height: 502px) and (min-width: 576px) and (max-width: 767px),
screen and (max-height: 530px) and (min-width: 768px) {
    .callbackContainer{
        margin-top: auto;
        margin-bottom: auto;
    }
}