.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 515px;
}

.input{
    height: 55px;
    width: 100%;

    margin-bottom: 21px;
    padding-left: 30px;

    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

    border-radius: 50px;
    border-width: 0;

    font-size: 0.875rem;
    line-height: 1.75rem;
    color: #ABABAB;

    outline: none;
}

.button{
    align-self: flex-start;
    margin-left: -30px;
}

.attach{
    padding-left: 45px;
    width: 97.087%;

    background-image: url(/images/block-cost/attach.svg);
    background-repeat: no-repeat;
    background-position: 30px;
}

@media screen and (max-width: 575px) {
    .form{
        width: 92%;
        margin-left: 30px;
    }    
}

@media screen and (min-width: 576px) and (max-width: 825px) {
    .form{
        width: 91.6551%;
        margin-left: 30px;
    }
}

@media screen and (max-width: 825px) {
    .button{
        align-self: center;
    }
}