.large {
    height: 448px;
    width: 448px;
    min-width: 448px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 150px;
}

.text {
    height: 136px;
}

.serviceName {
    display: flex;    
    justify-content: center;
    align-items: center;

    height: 74px;

    font-family: "MontserratBold";
    font-size: 26px;
    line-height: 28px;
    color: #3D3D3D;
}

.description {
    font-family: "MontserratRegular";
    font-size: 18px;
    color: #3D3D3D;
}