.styleMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;

    transition: transform 0.5s;
}

.numberMobile{
    font-family: "MontserratBold";
    font-size: 2.625rem;
    color: #07C1A2;

}

.textMobile{
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
}

.styleDesktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 160px;

    transition: transform 0.5s;
}

.numberDesktop{
    font-family: "MontserratBold";
    font-size: 2.625rem;
    color: #07C1A2;

}

.textDesktop{
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
}