.containerStyle{
    display: flex;
    position: relative;
    width: 100%;
    height: 298px;  /*фиксируем высоту*/
}

.prevStyle{
    display: flex;
    align-self: center;
    position: absolute;
    left: 0;
}

.nextStyle{
    display: flex;
    align-self: center;
    position: absolute;
    right: 0;
}

.viewportStyle{
    overflow: hidden;
    width: 100%;
}

.carouselStyle{
    display: inline-flex;
}

.slideStyle{
    display: flex;
    justify-content: space-around;
    align-items: center;    /*карточка по центру*/
    overflow: hidden;
    height: 298px;  /*фиксируем высоту*/
}