.small {
    height: 194px;
    width: 194px;
    min-width: 194px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 105px;
}

.serviceName {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    font-family: "MontserratRegular";
    font-size: 14px;
    color: #3D3D3D;
}