.outer{
    background-color: #EAFFE2;
}

.style{
    display: flex;
    justify-content: space-between;

    max-width: 1278px;
    height: 48px;
    padding: 30px 83px 0 83px;
    margin-right: auto;
    margin-left: auto;
}

.logo a{
    display: flex;
    align-items: center;
    font-family: "MontserratBold";
    font-size: 1.125rem;
}

.phone{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
}