.style{
    display: flex;
    justify-content: space-between;

    max-width: 1278px;
    height: 48px;
    padding: 30px 83px 0 83px;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    display: flex;
    width: 145px;
    align-items: center;
    font-family: "MontserratBold";
    font-size: 1.125rem;
}

.logo a{
    margin-right: 10px;
}

.phone{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
}