.style{
    display: flex;
    justify-content: space-between;

    height: 24px;
    padding: 12px 8px 12px 8px;

    background-color: #EAFFE2;

    z-index: 99;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a img {
    height: 24px;
}

.phone{
    display: flex;
    align-items: center;

    font-family: "MontserratLight";
    font-size: 0.625rem;
}

@media screen and (min-width: 541px) {
    .style{
        font-size: 1.125rem;
    }

    .phone{
        display: flex;
        align-items: center;
    
        font-family: "MontserratRegular";
    }
}