.arrowCommon {
    border-radius: 50%;

    background-color: #F97C08;
    background-position: center;
    background-repeat: no-repeat;
}

.arrowDesktop {
    height: 48px;
    width: 48px;

    background-image: url(/images/button-arrow/arrow.svg);
}

.arrowMobile {        
    height: 28px;
    width: 28px;

    background-image: url(/images/button-arrow/arrow-small.svg);
}

/*
@media screen and (min-width: 360px) and (max-width: 410px) {
    .arrowMobile{
        transform: scale(1.125, 1.125);
    }
}

@media screen and (min-width: 411px) and (max-width: 768px) {
    .arrowMobile{
        transform: scale(1.28, 1.28);
    }
}*/