.outer{
    background-color: #EAFFE2;
}

.container{
    /*max-width: 1440px;
    padding: 36px 83px 26px 83px;
    margin-left: auto;
    margin-right: auto;*/
    padding-top: 36px;
    padding-bottom: 26px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 20px;

    line-height: 2.625rem;
}

.ecotrans{
    font-family: "MontserratBold";
    font-size: 1.25rem;
    background-color: #EAFFE2;
}

.address{
    padding-right: 15px;
    font-size: 0.812rem;
    width: 351px;
}

.address img{
    padding-right: 12px;
}

.docs{
    padding-right: 15px;
    font-size: 0.812rem;
    width: 233px;
}

.menu{
    padding-right: 15px;
    font-size: 0.875rem;
    width: 87px;
}

.links{
    font-size: 0.812rem;
    width: 245px;
}