.green{
    background-color: #EAFFE2;
}

.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-top: -78px;
    height: 700px;
}

.about{
    color: #219982;

    line-height: 1.25rem;
}

.ecotrans{
    font-family: "MontserratBold";
    font-size: 5.25rem;
    line-height: 6.375rem;

    color: #219982;
}

.waste{
    margin-bottom: 19px;

    font-size: 2.25rem;
    
    line-height: 2.75rem;
}