.menuDesktop{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 517px;

    font-size: 1.125rem;
}

.menuMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
    .menuMobile{
        font-size: 1.125rem;
    }
}