.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 463px;
    /*margin-left: -45px;*/
}

.menu a{
    /*margin-left: 45px;*/

    transition: all 0.3s;
}

.menu span a:hover{
    /*transform: scale(1.125, 1.125);*/
    font-family: "MontserratBold";
}