.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 463px;
}

.link{
    min-width: 100px;
    text-align: center;

    transition: all 0.1s;
}

.link:hover{
    transform: scale(1.125, 1.125);
    font-family: "MontserratBold";
    font-weight: 700;
}