.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 517px;
}

.menu div{
    flex: 1;
}

.link{
    min-width: 100px;
    text-align: center;

    /*transition: all 0.1s Добавляется в js*/
}

.link:hover{
    transform: scale(1.125, 1.125);
    font-family: "MontserratBold";
    font-weight: 700;
}