.projectContactContainer{
    margin-top: unset;
    margin-bottom: unset;
}

/*Чтобы flex-контейнер не обрезался сверху при маленькой высоте окна*/
@media screen and (max-height: 365px) and (max-width: 575px),
screen and (max-height: 472px) and (min-width: 576px) and (max-width: 767px),
screen and (max-height: 555px) and (min-width: 768px) {
    .projectContactContainer{
        margin-top: auto;
        margin-bottom: auto;
    }
}