.style {
    width: 109px;
    height: 32px;

    border-radius: 50px;

    background: #F97C08;
    color: white;
    font-size: 16px;
    font-family: "MontserratBold";
}

@media screen and (min-width: 768px) {
    .style {
        width: 281px;
        height: 65px;

        font-size: 24px;
    }
}