.link{
    display: flex;
    justify-content: center;
    flex: 1;

    /*transition: all 0.1s Добавляется в js*/
}

.main{
    display: none;
    justify-content: center;
    flex: 1;
}

@media screen and (max-width: 1023px) {
    .link{
        display: flex;
        align-items: center;
    }

    .main{
        display: flex;
        align-items: center;
    }
}